body {
    font-family: SSP, 'Arial', sans-serif;
    font-weight: lighter;
    
    padding: 0;
    margin: 0;
}
.phone_shown{
    display:none;
}
.global-nav{
    left:0;
    top:0;
    position: fixed;
    background: rgba(51,51,51,0.95);
    color: white;
    width:100%;
    transition:.5s all ease-in-out;
}
.global-nav.active{
    background:black;
}
.gn-header {
    display: none;
}
.gn-header .fa-shopping-bag.active{
    transform: translateX(100vh);
    transition:.75s all ease-in-out;
}
.menu_nav {
    z-index: 900;
    background:black;
    color:white;
    text-align: center;
    width:100%;
    height:0;
    overflow: hidden;
    position:fixed;
    top:44px;
    transition: .5s all ease-in-out;
}
.menu_nav ul {
    padding:0;
    margin:0 44px;
    perspective: 250px;
}
.menu_nav li {
    text-align: left;
    list-style: none;
    transform-style: preserve-3d;
    transform-origin: center;
    transform: translate3d(0,0,100px);
    opacity:0;
    border-bottom:.5px solid rgb(190, 190, 190);
    line-height: 44px;
    transition: .5s all ease-in-out;
}
.menu_nav li.active {
    transform: translate3d(0,0,0);
    opacity: 1;
}
.menu_nav a {
    text-decoration: none;
    color:white;
    transition:.5s all ease-in-out;
}
.menu_nav a:hover {
    color: grey;
}
.menu_nav input {
    color: white;
    background: black;
    border: none;
    height:44px;
    font-size:1.2em;
    font-style:'Arial';
}
.menu_nav.active{
    height:100%;
}
.gn-content{
    margin:auto 22px;
}
#nav-icon {
    width: 44px;
    height: 44px;
    display:block;
}
#nav-icon span {
    display: block;
    width:18px;
    color: white;
    background-color: white;
    height:1px;
    transition: .5s ease-in-out;
}
#nav-icon span:nth-child(1){
    position: absolute;
    top:19px;
}
#nav-icon span:nth-child(2){
    position: absolute;
    top:26px;
}

#nav-icon.active span:nth-child(1){
    animation: top-slice .6s forwards 1;
}
#nav-icon.active span:nth-child(2){
    animation: bottom-slice .6s forwards 1;
}

@keyframes top-slice {
    0% {
        top:19px;
        transform: rotate(0);
    }
    25% {
        top:22px;
        transform: rotate(0);
    }
    75% {
        transform: rotate(-90deg);
    }
    100% {
        top:22px;
        transform: rotate(-135deg);
    }
}
@keyframes bottom-slice {
    0% {
        top:26px;
        transform: rotate(0);
    }
    25% {
        top:22px;
        transform: rotate(0);
    }
    75% {
        transform: rotate(-90deg);
    }
    100% {
        top:22px;
        transform: rotate(-45deg);
    }
}
.gn-header ul{
    margin: 0;
    padding: 0;
    width:100%;
    display: inline-flex;
    justify-content: space-between;
}
.gn-header ul li {
    list-style: none;
    line-height:100%;
}
.gn-header ul li a {
    margin:auto;
    line-height:44px;
    color: white;
    text-decoration: none;
    transition: .2s all ease-in-out;
}
.gn-header ul li a:hover {
    color: grey;
}
.gn-list ul {
    margin: 0;
    padding: 0;
    width:100%;
    display: inline-flex;
    justify-content: space-between;
}
.gn-list ul li {
    list-style: none;
    line-height:100%;
}
.gn-list ul li a {
    margin:auto;
    line-height:44px;
    color: white;
    text-decoration: none;
    transition: .2s all ease-in-out;
}
.gn-list ul li a:hover {
    color: grey;
}

.main {
    width:100%;
    text-align: center;
    display:flex;
    flex-direction: column;
}
.homepage-section {
    width:100%;
}

.section ul {
    padding:0;
    margin:auto;
}
.unit-wrapper {
    max-height: 85vh;
    overflow: hidden;
}
.unit-wrapper .unit-copy-wrapper h2 {
    font-weight: bold;
    font-size:3em;
    margin:.5em auto 0 auto;
}
.unit-copy-wrapper a {
    color:white;font-weight: lighter;
    text-decoration: none;
}
.unit-copy-wrapper a:hover {
    text-decoration: underline;
}
figure {
    margin:auto auto;
}
figure img{
    margin:0;
    max-width:100%;
}
.unit-link{
    width:100%;
    margin:auto auto;
    height: 100%;
    line-height: 100%;
    
    color:transparent;
    display:block;
}

#red-unit {
    color:white;
    background-color:#b40626;
}
#red-unit h3{
    display:inline-flex;
    min-width:40%;
    margin:auto;
    justify-content: space-around;
}
#red-unit a::after {
    content:"→";
}
span.violator {
    border:1px solid white;
    border-radius:5px;
    padding:2px;
}
uni {
    font-weight:100;
}
.global-footer {
    display: flex;
    flex-direction: column;
    position: relative;
    padding:0 20px;
    left:0;
    right:0;
    bottom:0;
    background:#f2f2f2;
    color:#a1a1a1;
}
.global-footer section {
    height:100%;
    
    padding:0;
    margin:17px auto;
}
.global-footer section small {
    font-size: 12px;
}
.global-footer nav {
    width:100%;
    display:inline-flex;
    flex-direction: column;
    border-top:1px solid #d6d6d6;
}
.global-footer .directory-section {
    width:100%;
    border-bottom:1px solid #d6d6d6;
}
.global-footer .directory-section-label {
    cursor: pointer;
    display: inline-flex;
    justify-content: space-between;
    width:100%;
    transition: .2s all ease-in-out;
}
.global-footer .directory-section-label h3 {
    margin-right:auto;
    color:#414141;
    font-weight: 400;
    font-size:.8em;
    line-height: 100%;
}
.global-footer .directory-section-label a {
    transition: .2s all ease-in-out;
    margin:auto 0 auto auto;
    color:#414141;
    font-weight: 400;
    font-size:.8em;
    line-height: 100%;
}
.global-footer .directory-section-label:hover {
    color: black;
}
.global-footer .directory-section-label a.active {
    transform: rotateZ(45deg);
}
.global-footer .directory-section-list{
    height:0;
    overflow: hidden;
    transition:.2s all ease-in-out;
}
.global-footer .directory-section-list.active{
    height:100%;
}
.global-footer nav .directory-section-list ul {
    overflow: hidden;
    padding:0;
    padding-left:.5em;
    list-style: none;
}
.global-footer nav .directory-section-list ul li a {
    font-size:.7em;
    color: #414141;
    text-decoration: none;
}
.global-footer nav .directory-section-list ul li a {
    text-decoration: underline;
}
@media screen and (max-width:723px){
    .gn-list {
        display:none;
    }
    .gn-header {
        display:initial;
    }
}

@font-face {
    font-family: SSP;
    src: url(../assets/SourceSans.ttf);
}